@page
@model Proiect.Pages.Servicii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Servicii</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Personal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].DataProgramarii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Marca.NumeMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Categorii)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiciuD.Servicii) {
    string selectedRow = "";
 if (item.ID == Model.ServiciuID)
 {
 selectedRow = "table-success";
 }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataProgramarii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.NumeMarca)
                </td>
                <td>
                    @{
                        foreach (var category in item.CategoriiServicii)
                        {
                                @categorie.Categorie.ID @: @categorie.Categorie.NumeCategorie <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>